<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="icon" href="/img/logo2.png" type="image/png" sizes="16x16">
  <title>Search Result : <%=keyword%>
  </title>

</head>


<body>
  <header>
    <nav class="navbar bg-white navbar-expand-lg fixed-top border-bottom">
      <div class="container-lg">
        <div class="col-3 pl-md-0 text-left py-2">
          <a class="navbar-brand" href="/seller/dashboard">
            <img src="/img/logo.png" alt="Logo" height="30" class="align-text-center">
          </a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
          aria-controls="offcanvasNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
          <div class="offcanvas-header ">
            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Navigation</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body align-items-center justify-content-center py-2">
            <ul class="navbar-nav mx-md-auto justify-content-center">
              <li class="nav-item">
                <a class="nav-link" href="/seller/dashboard">Dashboard</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/seller/shops">Shops</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="/seller/profile">My Profile</a>
              </li>
            </ul>

            <form class="d-flex" action="/seller/search" method="get">
              <input class="form-control me-2" type="search" name="keyword" placeholder="Search here..."
                aria-label="Search">

            </form>
            <div class="dropdown">
              <a href="#" class="d-block link-dark text-decoration-none" data-bs-toggle="dropdown"
                aria-expanded="false">
                <img src="/img/avatar/<%=mini_profile%>" alt="mdo" width="35" height="35" class="rounded-circle"
                  style="object-fit: cover;">

              </a>
              <ul class="dropdown-menu   text-small">

                <li><a class="dropdown-item" href="/seller/profile">Profile</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="/seller/logout">Sign out</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </header>
  <main id="main">
    <div class="container my-5">
      <% if (!keyword) { %>
        <h2 class="mb-3">Please enter a search query.</h2>
        <% } else if (restaurants.length> 0) { %>
          <h1 class="mb-3">Search Results for "<%= keyword %>"</h1>

          <div class="row g-3">
            <% restaurants.forEach(restaurant=> {
              const rating = restaurant.avg_rating ? parseFloat(restaurant.avg_rating).toFixed(1) : null;
              const reviewsCount = restaurant.reviews_count || 0;
              %>
              <div class="col-lg-3 col-md-6">
                <div class="card mb-3 h-100">
                  <a href="/restaurants/<%= restaurant.id %>">
                    <img src="/img/thumbnail/<%= restaurant.thumbnail_path %>" class="card-img-top" height="180px"
                      width="290px" style="object-fit: cover;">
                  </a>
                  <div class="card-body">
                    <h5 class="card-title">
                      <a href="/restaurants/<%= restaurant.id %>" class="link-dark link-name">
                        <%= restaurant.name %>
                      </a>
                    </h5>
                    <p class="card-text">
                      <span class="d-inline-block text-truncate" style="max-width: 100%;">
                        <%= restaurant.description %>
                      </span>
                    </p>
                    <% if (reviewsCount> 0) { %>
                      <div class="review-summary">
                        <div class="d-flex align-items-center">
                          <div class="rating me-2">
                            <span class="value">
                              <%= rating %>
                            </span>
                          </div>
                          <div class="stars me-2">
                            <% const filledStars=Math.floor(rating); const hasHalfStar=rating - filledStars>= 0.5;
                              for (let i = 0; i < filledStars; i++) { %>
                                <span style="color: #ffb900;">
                                  <i class="fas fa-star fa-sm"></i>
                                </span>

                                <% } %>
                                  <% if (hasHalfStar) { %>
                                    <span style="color: #ffb900;">
                                      <i class="fas fa-star-half-alt fa-sm"></i>
                                    </span>
                                    <% } %>
                                      <% for (let i=0; i < 5 - filledStars - (hasHalfStar ? 1 : 0); i++) { %>
                                        <span style="color: #ffb900;">
                                          <i class="far fa-star fa-sm"></i>
                                        </span>
                                        <% } %>
                          </div>
                          <div class="reviews-count">
                            <a href="/restaurants/<%= restaurant.id %>/#reviews" class="link-dark link-name">
                              <small class="text-muted">
                                <%= reviewsCount %> reviews
                              </small>
                            </a>
                          </div>
                        </div>
                      </div>
                      <% } else { %>
                        <div class="no-reviews">
                          <small class="text-muted">
                            No reviews yet
                          </small>
                        </div>
                        <% } %>
                          <div class="location ms-auto">
                            <small class="text-muted">
                              <%= restaurant.location %>
                            </small>
                          </div>
                  </div>
                </div>
              </div>
              <% }); %>
          </div>

          <% if (restaurants.length> 0) { %>
            <nav aria-label="Pagination">
              <ul class="pagination justify-content-center mt-3">
                <% if (prevPageUrl) { %>
                  <li class="page-item">
                    <a class="page-link" href="<%= prevPageUrl %>">Previous</a>
                  </li>
                  <% } else { %>
                    <li class="page-item disabled">
                      <a class="page-link" href="#">Previous</a>
                    </li>
                    <% } %>
                      <% for (let i=1; i <=totalPages; i++) { %>
                        <% if (i===currentPage) { %>
                          <li class="page-item active" aria-current="page">
                            <a class="page-link" href="#">
                              <%= i %><span class="visually-hidden">(current)</span>
                            </a>
                          </li>
                          <% } else { %>
                            <li class="page-item">
                              <a class="page-link" href="/seller/search?keyword=<%= keyword %>&page=<%= i %>">
                                <%= i %>
                              </a>
                            </li>
                            <% } %>
                              <% } %>
                                <% if (nextPageUrl) { %>
                                  <li class="page-item">
                                    <a class="page-link" href="<%= nextPageUrl %>">Next</a>
                                  </li>
                                  <% } else { %>
                                    <li class="page-item disabled">
                                      <a class="page-link" href="#">Next</a>
                                    </li>
                                    <% } %>
              </ul>
            </nav>
            <% } %>


              <!-- display the restaurants list here -->

              <% } else { %>
                <h1 class="mb-3">No results found for "<%= keyword%>".</h1>
                <% } %>
    </div>
  </main>


  <script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>
</body>

</html>