<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/fontawesome/css/all.min.css" />
  <link rel="icon" href="/img/logo2.png" type="image/png" sizes="16x16">
  <title>Restaurants</title>

</head>


<body>
  <header>
    <nav class="navbar bg-white navbar-expand-lg fixed-top border-bottom">
        <div class="container-lg">
            <div class="col-3 pl-md-0 text-left py-2">
                <a class="navbar-brand" href="/home">
                    <img src="/img/logo.png" alt="Logo" height="30" class="align-text-center">
                </a>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header ">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Navigation</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body align-items-center justify-content-center py-2">
                    <ul class="navbar-nav mx-md-auto justify-content-center">
                        <li class="nav-item">
                            <a class="nav-link" href="/home">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/restaurants">Food Establisment</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/profile">My Profile</a>
                        </li>
                    </ul>
                    
                    <form class="d-flex" action="/search" method="get">
                        <input class="form-control me-2" type="search" name="keyword" placeholder="Search here..."
                            aria-label="Search">
                        
                    </form>
                    <div class="dropdown">
                        <a href="#" class="d-block link-dark text-decoration-none" data-bs-toggle="dropdown" aria-expanded="false">
                          <img src="/img/avatar/<%=mini_profile%>" alt="mdo" width="35" height="35" class="rounded-circle" style="object-fit: cover;">
                          
                        </a>
                        <ul class="dropdown-menu   text-small">
                          
                          <li><a class="dropdown-item" href="/profile">Profile</a></li>
                          <li><hr class="dropdown-divider"></li>
                          <li><a class="dropdown-item" href="/logout">Sign out</a></li>
                        </ul>
                      </div>
                </div>
            </div>
        </div>
    </nav>
</header>
  <main id="main">

    <div class="container-lg my-5">

      <h5 class="my-4">All restaurant places in Laoag City</h5>
      <div class="mb-3">
        <form method="get" class="row gx-2 align-items-end">
          <div class="col-lg-3 col-6">
            <label for="sort" class="form-label mb-0"><i class="fas fa-sort me-2"></i>Sort by:</label>
            <select class="form-select" id="sort" name="sortField">
              <option value="name" <%=sortField==='name' ? 'selected' : '' %>><i class="fas fa-font me-2"></i>Name
              </option>
              <option value="location" <%=sortField==='location' ? 'selected' : '' %>><i
                  class="fas fa-map-marker-alt me-2"></i>Location</option>
              <option value="avg_rating" <%=sortField==='avg_rating' ? 'selected' : '' %>><i
                  class="fas fa-star me-2"></i>Average rating</option>
              <option value="reviews_count" <%=sortField==='reviews_count' ? 'selected' : '' %>><i
                  class="fas fa-comment me-2"></i>Number of reviews</option>
            </select>
          </div>
          <div class="col-lg-3 col-6">
            <label for="sortOrder" class="form-label mb-0"><i class="fas fa-sort-amount-up me-2"></i>Sort order:</label>
            <select class="form-select" id="sortOrder" name="sortOrder">
              <option value="asc" <%=sortOrder==='asc' ? 'selected' : '' %>><i
                  class="fas fa-sort-alpha-up me-2"></i>Ascending</option>
              <option value="desc" <%=sortOrder==='desc' ? 'selected' : '' %>><i
                  class="fas fa-sort-alpha-down me-2"></i>Descending</option>
            </select>
          </div>
          <div class="col-lg-2 col-12">
            <button type="submit" class="btn btn-danger w-100 mt-2"><i class="fas fa-filter me-2"></i>Filter</button>
          </div>
        </form>
      </div>
      <div class="row g-3">
        <% restaurants.forEach(restaurant=> {
          const rating = restaurant.avg_rating ? parseFloat(restaurant.avg_rating).toFixed(1) : null;
          const reviewsCount = restaurant.reviews_count || 0;
          %>
          <div class="col-lg-3 col-md-6">
            <div class="card mb-3 h-100">
              <a href="/restaurants/<%= restaurant.id %>">
                <img src="/img/thumbnail/<%= restaurant.thumbnail_path %>" class="card-img-top" height="180px" width="290px" style="object-fit: cover;">
              </a>
              <div class="card-body">
                <h5 class="card-title">
                  <a href="/restaurants/<%= restaurant.id %>" class="link-dark link-name" >
                    <%= restaurant.name %>
                  </a>
                </h5>
                <p class="card-text">
                  <span class="d-inline-block text-truncate" style="max-width: 100%;">
                    <%= restaurant.description %>
                  </span>
                </p>
                <% if (reviewsCount> 0) { %>
                  <div class="review-summary">
                    <div class="d-flex align-items-center">
                      <div class="rating me-2">
                        <span class="value">
                          <%= rating %>
                        </span>
                      </div>
                      <div class="stars me-2">
                        <% const filledStars=Math.floor(rating); const hasHalfStar=rating - filledStars>= 0.5;
                          for (let i = 0; i < filledStars; i++) { %>
                            <span style="color: #ffb900;">
                              <i class="fas fa-star fa-sm"></i>
                            </span>

                            <% } %>
                              <% if (hasHalfStar) { %>
                                <span style="color: #ffb900;">
                                  <i class="fas fa-star-half-alt fa-sm"></i>
                                </span>
                                <% } %>
                                  <% for (let i=0; i < 5 - filledStars - (hasHalfStar ? 1 : 0); i++) { %>
                                    <span style="color: #ffb900;">
                                      <i class="far fa-star fa-sm"></i>
                                    </span>
                                    <% } %>
                      </div>
                      <div class="reviews-count">
                        <a href="/restaurants/<%= restaurant.id %>/#reviews" class="link-dark link-name">
                          <small class="text-muted">
                            <%= reviewsCount %> reviews
                          </small>
                        </a>
                      </div>
                    </div>
                  </div>
                  <% } else { %>
                    <div class="no-reviews">
                      <small class="text-muted">
                        No reviews yet
                      </small>
                    </div>
                    <% } %>
                      <div class="location ms-auto">
                        <small class="text-muted">
                          <%= restaurant.location %>
                        </small>
                      </div>
              </div>
            </div>
          </div>
          <% }); %>
      </div>

      <!-- display the restaurants list here -->

      <% if(restaurants.length> 0){ %>
        <!-- render the pagination links here -->
        <nav aria-label="Pagination">
          <ul class="pagination justify-content-center mt-3">
            <% if(prevPageUrl) { %>
              <li class="page-item">
                <a class="page-link" href="<%= prevPageUrl %>">Previous</a>
              </li>
              <% } else { %>
                <li class="page-item disabled">
                  <a class="page-link" href="#">Previous</a>
                </li>
                <% } %>

                  <% for (let i=1; i <=totalPages; i++) { %>
                    <% if (i===currentPage) { %>
                      <li class="page-item active" aria-current="page">
                        <a class="page-link" href="#">
                          <%= i %><span class="visually-hidden">(current)</span>
                        </a>
                      </li>
                      <% } else { %>
                        <li class="page-item">
                          <a class="page-link"
                            href="/restaurants?page=<%= i %>&sortField=<%= sortField %>&sortOrder=<%= sortOrder %>">
                            <%= i %>
                          </a>
                        </li>
                        <% } %>
                          <% } %>

                            <% if(nextPageUrl) { %>
                              <li class="page-item">
                                <a class="page-link" href="<%= nextPageUrl %>">Next</a>
                              </li>
                              <% } else { %>
                                <li class="page-item disabled">
                                  <a class="page-link" href="#">Next</a>
                                </li>
                                <% } %>
          </ul>
        </nav>
        <% } %>

    </div>
  </main>

  <script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>

</body>

</html>